               /**CSS CUBA**/

/**Le core**/
.body-cuba
{
    background: url(https://upload.wikimedia.org/wikipedia/commons/b/bd/Flag_of_Cuba.svg) fixed no-repeat;
    background-position: center;
    background-size: cover;
}

/**Contenue principal**/
.main__pays
{
    background: rgba(0,0,0,0.4);
}

/**Les marge**/
.margin-b
{
    margin-bottom: 5%;
}
.margin-t
{
    margin-top: 5%;
}
/**Les block**/
.robin-width
{
    width: 70%;
    margin: auto;
    margin-top: 5%;
}
.background-cadre
{
    background: rgba(0,0,0,0.8);
    color: white;
}
/**Le text**/
.robin-text
{
    line-height: 30px;
    text-align: center;
}
/**TITRE**/
.robin-title
{
    font-size: 80px;
    letter-spacing: 15px;
}
